@font-face {
	font-family: 'FoglihtenNo06_076';
	font-weight:800;
	font-style:normal;
	src: url("../fonts/FoglihtenNo06_076.woff2") format("woff2"), url("../fonts/FoglihtenNo06_076.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'Forum';
	font-weight:400;
	font-style:normal;
	src: url("../fonts/Forum-Regular.woff2") format("woff2"), url("../fonts/Forum-Regular.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'Gilroy';
	font-weight:700;
	font-style:normal;
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'Gilroy';
	font-weight:300;
	font-style:normal;
	src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'Gilroy';
	font-weight:600;
	font-style:normal;
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'Gilroy';
	font-weight:500;
	font-style:normal;
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'Gilroy';
	font-weight:400;
	font-style:normal;
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'Gwen';
	font-weight:400;
	font-style:normal;
	src: url("../fonts/Gwen-Regular.woff2") format("woff2"), url("../fonts/Gwen-Regular.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'mr_daray_daray';
	font-weight:400;
	font-style:normal;
	src: url("../fonts/mr_daray_daray.woff2") format("woff2"), url("../fonts/mr_daray_daray.woff") format("woff");
	font-display:swap;
}
